@page
@using Microsoft.AspNetCore.Mvc.Localization
@using MultipleDbContextDemo.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using MultipleDbContextDemo.Web.Pages.TestSqlServerEntities
@using MultipleDbContextDemo.TestSqlServerEntities;
@using System.Globalization
@inject IHtmlLocalizer<MultipleDbContextDemoResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/TestSqlServerEntities/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewTestSqlServerEntity"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="TestSqlServerEntity.Name"/>

            
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>